@import "../../../Styles/global.scss";

.baby-daily-stats-container {
  @include card;

  @media (max-width: $mobile) {
    width: 100%;
  }

  .baby-daily-stats-wrapper {
    padding: 20px 40px;

    display: flex;
    align-items: center;
    column-gap: 32px;

    border-top: 4px double $border-color;

    img {
      width: 75px;
      padding: 0 10px;

      @media (max-width: $mobile) {
        width: 55px;
      }
    }
  }

  .journal {
    padding: 20px 0;

    display: flex;
    justify-content: center;

    border-top: 4px double $border-color;

    button {
      @include button;
    }
  }
}
