@import "../../Styles/global.scss";

.image-wrapper-cmp {
  width: 100%;

  display: flex;
  justify-content: center;

  img {
    width: 50px;

    @media (max-width: $mobile) {
      width: 40px;
    }
  }
}
